LAN_BIND_ADDRESS=0.0.0.0
PUBLIC_HOST=192.168.1.100
FRONTEND_PORT=5173
API_PORT=8000
MQTT_PUBLIC_PORT=18830
WORKSPACE_ID=00000000-0000-0000-0000-000000000001
POSTGRES_DB=sim_platform
POSTGRES_USER=sim
POSTGRES_PASSWORD=sim_password
REDIS_RUNTIME_TTL_SECONDS=86400
REDIS_MESSAGE_BUFFER_LIMIT=200
